body {
    background-image: url(pics/background.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 75px;
    color:#FFFFF4
}

.storytext {
    font-size: 50px;
    color:#FFFFF4
}

button {
    font-size: 30px;
    width: 200px;
    height: 75px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    border-color: black;
    margin-top: 15px;
    background-color: #FFFFF0;
}

button:hover {
    background-color: lightgray;
}

h3 {
    font-size: 50px;
    color: #FFFFF4;
}
