/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.btn-home {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #0056b3;
}

/* Map styles */
#map {
    position: absolute;
    top: 50px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
}

/* Player stats box styles */
#stats-box {
    position: absolute;
    top: 50px;
    left: 0;
    width: 300px;
    background-color: #ffffff;
    border-right: 2px solid #ccc;
    height: calc(100% - 50px);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
}

#stats-box h2 {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}
