body {
    background-image: url(pics/background.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 75px;
    color:#FFFFF4
}

#start, #settings, #exit {
    font-size: 30px;
    width: 200px;
    height: 75px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    border-color: black;
    margin-top: 15px;
    background-color: #FFFFF0;
}

#start:hover, #settings:hover, #exit:hover{
    background-color: lightgray;
}

.storytext {
    font-size: 50px;
    color:#FFFFF4
}

.buton {
    font-size: 30px;
    width: 200px;
    height: 75px;
    border-radius: 25px;
    border-width: 5px;
    cursor: pointer;
    border-color: black;
    margin-top: 15px;
    background-color: #FFFFF0;
}

.buton:hover {
    background-color: lightgray;
}

#story {
    width: 1050px;
    line-height: 25px;
    font-size: 20px;
    color: #FFFFF4;
}